.profile
  .row
    .col-md-4
      %h1
        = division.name

    %table.table.table-hover
      %tr.active
        %th Subject
        %th Teacher name
        %th
        %th
      - if current_user.has_role? :teacher
        - teacher_subjects.each do |subject|
          = render 'subject', subject: subject
      - else
        - division_subjects.each do |subject|
          = render 'subject', subject: subject

    %table.table.table-hover
      %tr.active
        %th First name
        %th Last name
        %th
        %th

      - students.each do |student|
        %tr
          %td= student.firstname
          %td= student.lastname
          -if current_user.has_role? :teacher
            %td= link_to 'New', new_grade_path(user: student), class: 'btn btn-success'
          %td= link_to 'Show', admin_user_path(student), class: 'btn btn-success btn-block btn-sm'


= link_to 'Back', divisions_path, class: 'btn btn-primary'
